@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

#page-blog {
  display: flex;
}
.page__blog__wrapper {
  display: flex;
  justify-content: space-around;
  gap: vw(90);
  margin: 0 auto;
}
.page__blog__container {
  width: vw(590);
  height: vw(520);
}
.blog__number--box {
  width: vw(260);
  height: vw(520);
  margin-top: vw(30);
}
.blog__number--ul {
  width: 80%;
  column-count: 3;
  column-gap: vw(50);
}

.blog__number--li {
  break-inside: avoid;
  margin-bottom: 8px;
  padding: 8px;
}
