@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

.side-scroll__wrapper {
  overflow: hidden;
}
.side-scroll__container {
  display: flex;
}
.page__works__wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.page__works--h2 {
  margin-top: vh(-150);
  text-align: left;
}
.page__works__item {
  width: 70%;
}
.page__works__item-pc {
  width: 30%;
}

.page-works__top {
  display: flex;
  justify-content: space-between;
  gap: vw(40);
}
.page-works__bottom {
  display: flex;
  justify-content: space-between;
  gap: vw(40);
}
.page__works__item1 {
  width: vw(184);
  height: vh(233);
  margin-top: vw(-50);
}
.page__works__item2 {
  width: vw(400);
  height: vh(300);
}
.page__works__item3 {
  width: vw(150);
  height: vh(300);
  margin-left: vw(30);
}
.page__works__item4 {
  width: vw(306);
  height: vh(200);
  margin-top: vw(160);
}
.page__works__item5 {
  width: vw(200);
  height: vh(353);
}
.page__works__text {
  width: vw(438);
  height: vh(224);
  margin-top: vh(145);
}
